@charset "utf-8";

@font-face{
	font-family:'dongle';
	src:local('Dongle-Regular'),
	url('../font/Dongle-Regular.eot'),
	url('../font/Dongle-Regular.woff') format('woff'),
	url('../font/Dongle-Regular.ttf') format('truetype');
}

.DY {
    font-family: "dongle";
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    color: #fff;
    text-shadow: 1px 2px 5px #000;
    padding: 0 10px;
    box-shadow: 2px 1px 5px #000;
    border-radius: 10px;
}

#clock {
    font-family: "dongle";
    width: 100px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    font-size: 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 80px;
    background-color: rgb(57, 56, 58);
    padding: 0 10px;
    border-radius: 10px;
    color: #fff;
    text-shadow: 1px 2px 5px #ff0;
    z-index: 2;
}

#weather {
    font-family: "dongle";
    font-size: 20px;
    position: absolute;
    z-index: 2;
    right: 2%;
    top: 1%;
}

#login-form {
    position: absolute;
    z-index: 2;
    left: 1%;
    transform: translate(-20%);
    top: 20%;
}
#login-form input:first-child{
    border: none;
    width: 175px;
    height: 40px;
    line-height: 40px;
    font-family: "dongle";
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 10px;
    text-indent: 5px;
    outline: 0;
    color: #000;
    text-align: center;
}
#greeting {
    position: absolute;
    z-index: 2;
    left: 20%;
    transform: translate(-50%,-20%);
    top: 18%;
    font-family: "dongle";
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 10px;
    color: rgb(226, 121, 191);
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#login-form input:last-child{
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 10px;
    height: 45px;
    position: absolute;
    margin: 0 5px;
    border-color: pink;
    border-radius: 20px;
    outline: 0;
    color: pink;
    font-weight: bold;
}



#todo-form input {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 30%;
    width: 160px;
    height: 30px;
    text-align: center;
    font-family: "dongle";
    font-size: 25px;
    color: pink;
    border-color: pink;
    border-radius: 20px;
    outline: 0;
}

.TODO_LIST {
    position: absolute;
    z-index: 2;
    font-family: "dongle";
    font-size: 18px;
    top: 24%;
    left: 50%;
    transform: translate(-50%,-50%);
}

ul,li {list-style: none;}

#todo-list {
    background-color: rgba(255, 192, 203, 0.74);
    width: 340px;
    height: 400px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-15%);
    padding-top: 10px;
    font-family: "dongle";
    font-size: 25px;
}

#todo-list button {
    outline: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

